@font-face {
	font-family: 'BetuTipus';
	src: url('Roboto-Light.ttf');
	font-style: normal;
	font-weight: normal;

}

@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 600px) {
  .custom-width {
    width: 100% !important;
  }
}
* {
	font-family: BetuTipus;

}

img {
	margin: 5px;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 5px 5px 10px black !important;
}

q {
	font-style: italic;
}

p {
	margin-top: 6px;
	margin-bottom: 6px;
	margin: 6px 10px;
	text-align: justify;	
}

h2 {
	font-weight: bold;
	font-style: italic;
	font-size: 135%;
}

h3 {
	text-align: center;
	font-weight: bold;
	color: #FAFAFA;
}
nav {
	background-color: #2E2E2E;
}

nav li {
	width: 150px;
	padding: 15px;
	font-size: 22px;
	color: darkgray;
	display: inline-block;
}

nav>ul {
	margin: 0px;
	padding: 0px;
}

nav li:hover {
	background-color: #0B0B3B;
	cursor: pointer;
}

header {
	width: 75%;
	height: 50px;	
	background-color: #c8cacc;
	text-align: right;
}

nav a {
	text-decoration: none;
}

nav li.jelenlegi a, nav li:hover a {
	color: darkred;
}

a:visited {
  color: darkgray;
}

footer {
	background-color: #2E2E2E;
	padding: 20px;
	text-align: center;
	color: 	black;
	font-weight: bold;
}

#container {
	background-color: #c8cacc;
	border: 2px solid black;
}

#belso {
	margin-left: auto;
	margin-right: auto;
	background-color: #c8cacc;
	border: 2px solid black;
	box-shadow: 5px 0px 20px black;
}

#elvalaszto {
	padding: 20px; 
	border-bottom: 5px solid black;
}

#jelenlegi {
	background-color: darkgray;
}

#content {
	padding: 10px;
}

#content h1 {
	color: #3d3d3c;
	text-align: center;
	font-weight: bold;
}

#content p {
	text-align: left;
	font-weight: bold;
}

#content pre {
	color: white;
	text-align: center;
	font-weight: bold;
}

.cikk {
	border-style: solid;
	padding: 40px;
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.felirat {
	font-size: 100px;
	padding: 70px;
}

.jelenlegi {
	background-color: #c8cacc;
}

.jobbra {
	float: right;
}

.balra {
	float: left;
}

.kozepre {
	text-align: center;
	justify-content: center;
}

.nagy {
	width: 500px;
}

.kozepes {
	width: 300px;
	
}

.kicsi {
	width: 200px;
	
}

.dropdown-menu {
	background-color: #2E2E2E !important;
	width: 160px;
}

.hover-szoveg {
	color: darkgray;
}

.hover-szoveg:hover {
	color: darkred;
}

.darkgomb {
  cursor: pointer;
  background-color: #2E2E2E;
}

.vissza {
	clear: both;
}

.sidenav {
  height: 100%;
  width: 160px; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111111;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.custom-width {
  width: 75%;
}

.dark-mode {
  background-color: #121212 !important;
}

.dark-mode header {
	background-color: #121212 !important;
}

.dark-mode h1 {
  color: darkgray !important;
}

.dark-mode h2 {
  color: darkgray !important;
}
.dark-mode h3 {
  color: darkgray !important;
}
.dark-mode h4 {
  color: darkgray !important;
}
.dark-mode h5 {
  color: darkgray !important;
}

.dark-mode p {
	color: #828783 !important;
}

.dark-mode b {
	color: #828783 !important;
}
.dark-mode footer {
	color: gray !important;
}

.dark-mode input{
 background-color: darkgray !important;
}

.dark-mode textarea{
 background-color: darkgray !important;
}

.dark-mode ol {
	color: darkgray !important;
}

.dark-mode ul {
	color: darkgray !important;
}

